# SQL Analytics
Let's analyze the same 'house sales' data using SQL!

In [ ]:
try:
    spark
except NameError:
    # initialize Spark Session
    import os
    import sys
    top_dir = os.path.abspath(os.path.join(os.getcwd(), "../"))
    if top_dir not in sys.path:
        sys.path.append(top_dir)

    from init_spark import init_spark
    spark = init_spark()

print('Spark UI running on port ' + spark.sparkContext.uiWebUrl.split(':')[2])
spark

## Step-1: Read Data

In [ ]:
## Read data
data_location = "data/house-sales/house-sales-simplified.csv" 
# data_location =  's3://elephantscale-public/data/house-prices/house-sales-simplified.csv'
# data_location = 'https://elephantscale-public.s3.amazonaws.com/data/house-prices/house-sales-simplified.csv'


home_sales = spark.read.\
        option("header" ,"true").\
        option("inferSchema", "true").\
        csv(data_location)

print (home_sales.count())

home_sales.show()

## Step-2: Create Temp Table

In [ ]:
## Register as SQL table
home_sales.createOrReplaceTempView("sales")
spark.catalog.listTables()

## Step-3: Ready, Set, SQL !

In [ ]:
## Simple SQL select

spark.sql("select * from sales").show()

In [ ]:
## Group by query 'sales vs bedrooms'

sql_str = """
select Bedrooms, count(*) as total 
from sales 
group by Bedrooms 
order by total desc"
"""

spark.sql(sql_str).show()

In [ ]:
## Min, Max, AVG prices
sql_str = """
"select Bedrooms, MIN(SalePrice) as min, AVG(SalePrice) as avg, MAX(SalePrice) as max 
from sales 
group by Bedrooms
"""
spark.sql(sql_str).show()